.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__link {
    color: #9CBBFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 30px;
    margin-right: 15px;
}

.menu__link:last-of-type {
    margin-right: 0;
}

.menu__link_active {
    color: #437DFF;
    pointer-events: none;
}

@media screen and (max-width: 950px) {
    .menu {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0,0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__link {
        margin-right: 0;
    }
}