.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 140px);
  justify-content: center;
}

.review h3 {
  text-align: center;
  font-size: 32px;
  line-height: 37px;
  max-width: 500px;
  margin: 20px 0;
  font-weight: normal;
  margin-top: 60px;
}

.review p {
  font-size: 20px;
  line-height: 23px;  
  max-width: 550px;
}

p.review__rating {
  margin-top: 20px;
  font-size: 16px;
}