.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 140px);
  justify-content: center;
}

.reviews__item {
  list-style-type: none;
  font-size: 32px;
  line-height: 37px;
  padding: 20px 50px;
  background-color: #E8E8E8;
  border-radius: 20px;
  margin-bottom: 20px;
}

.reviews a {
  color: #437DFF;
  text-decoration: none;
  font-size: 20px;
}

h3 {
  text-align: center;
}

.reviews__item:last-of-type {
  margin-bottom: 0;
}