.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 140px);
}

.about-us ul {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us li {
  list-style-type: none;
  font-size: 32px;
  line-height: 37px;
  padding: 20px 50px;
  background-color: #E8E8E8;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.about-us li:last-of-type {
  margin-right: 0;
}

.about-us a {
  color: #437DFF;
  text-decoration: none;
  font-size: 20px;
}